<div>
  <button *ngFor="let material of player.materials" (click)="updateMaterialQuantity(material, 1)">
    +1 {{material.name}}
  </button>
</div>


<div *ngIf="player.admin">
  <br/><br/>
  <span *ngFor="let material of player.materials; let i = index">
    <label> {{material.name | titlecase}} : 
      <input #quantity type="number"/>
    </label>
    <button (click)="updateMaterialQuantity(material, quantity.value)">
      Update {{material.name}} quantity
    </button>
    <br />
  </span>
</div>
