<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="apiRest.database.mapper.MaterialMapper">

	<resultMap type="apiRest.database.classe.Material" id="materialResultMap">
		<id 	property="id"				column="id" />
		<result property="name" 			column="name" />
	</resultMap>
	
	<!-- insert -->
	<insert id="insertMaterialQuantity" parameterType="map">
		INSERT INTO materialrecipe 
		VALUES (#{recipe}, #{material}, #{quantity})
	</insert>
	
	
	<!-- select -->
	<select id="selectAllMaterials" resultMap="materialResultMap">
		SELECT *
		FROM material
	</select>
</mapper>