<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="apiRest.database.mapper.RecipeMapper">

	<!-- Recipe -->
	<resultMap type="apiRest.database.classe.Recipe" id="recipeResultMap">
		<id 	property="id"				column="id" />
		<result property="name"				column="name" />
		<result property="minLevel" 		column="minevel" />
		<result property="golds" 			column="golds" />
		<result property="xp" 				column="xp" />
		<association property="category"	javaType="apiRest.database.classe.Category"
			select="apiRest.database.mapper.CategoryMapper.selectCategoryById" column="category"/>
		<association property="job"	javaType="apiRest.database.classe.Job"
			select="apiRest.database.mapper.JobMapper.selectJobById" column="job"/>
		<collection property="materials" javaType="ArrayList" ofType="apiRest.database.classe.Material"
			select="apiRest.database.mapper.MaterialMapper.selectMaterialByRecipeId" column="id"/>
	</resultMap>
	
	<!-- insert -->
	<insert id="insertRecipe" parameterType="apiRest.database.classe.Recipe" keyProperty="id" useGeneratedKeys="true" keyColumn="id">
		INSERT INTO recipe(name, minlevel, golds, xp, category) values (#{name}, #{minLevel}, #{golds}, #{xp}, #{category.id})
	</insert>
	
	<!-- select -->
	<select id="selectAllRecipes" resultMap="recipeResultMap">
		SELECT *
		FROM recipe
	</select>
	
	<select id="selectRecipesByIdCategory" parameterType="apiRest.database.classe.Category" resultMap="recipeResultMap">
		SELECT *
		FROM recipe r
		LEFT JOIN category c ON r.category = c.id
		WHERE c.id = #{id}
	</select>

</mapper>