<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="apiRest.database.mapper.WorkerMapper">

	<resultMap type="apiRest.database.classe.Worker" id="workerResultMap">
		<id		property="id"			column="id" />
		<result property="name"			column="name" />
		<result property="golds"		column="golds" />
		<association property="job"		javaType="apiRest.database.classe.Job"
			select="apiRest.database.mapper.JobMapper.selectJobById" column="job"/>
	</resultMap>
	
	<!-- select -->
	<select id="selectAllWorkersOrderByGolds" resultMap="workerResultMap">
		SELECT *
		FROM worker
		ORDER BY golds ASC
	</select>
	
	<select id="selectWorkerById" parameterType="long" resultMap="workerResultMap">
		SELECT *
		FROM worker
		WHERE id=#{id}
	</select>
	
	<select id="selectWorkersOfPlayerId" parameterType="long" resultMap="workerResultMap">
		SELECT id, name, golds
		FROM worker w
		LEFT JOIN playerworkerjob pwj ON w.id = pwj.worker
		WHERE pwj.player=#{id}
	</select>
	
	<!-- insert -->
	<insert id="insertWorker" parameterType="apiRest.database.classe.Worker" keyProperty="id">
		INSERT INTO worker(name, golds, job) values (#{name}, #{golds}, #{job.id})
	</insert>
</mapper>