<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<environments default="development">
 
	<environment id="development">
		<transactionManager type="JDBC" />
		<dataSource type="POOLED">
			<property name="driver" value="org.postgresql.Driver" />
			<property name="url" value="jdbc:postgresql://localhost:5432/shopHeroesV2" />
			<property name="username" value="postgres" />
			<property name="password" value="admin" />
		</dataSource>
	</environment>
	 
	</environments>

	<mappers>
		<mapper resource="mapper/PlayerMapper.xml" />
		<mapper resource="mapper/JobMapper.xml" />
		<mapper resource="mapper/WorkerMapper.xml" />
		<mapper resource="mapper/CategoryMapper.xml" />
		<mapper resource="mapper/MaterialMapper.xml" />
		<mapper resource="mapper/RecipeMapper.xml" />
		<mapper resource="mapper/xpMapper.xml" />
	</mappers>
</configuration>