<div *ngIf="player.admin">
  <h3> Add a new Job</h3>
  <form (ngSubmit)="addJob(f)" [formGroup]="jobForm">
    <label>Name :
      <input formControlName="name"/>
    </label>
    <button type="submit">
      Add
    </button>
  </form>
</div>

<div *ngIf="player.admin">
  <h3> Add a new Worker</h3>
  <form (ngSubmit)="addWorker(f)" [formGroup]="workerForm">
    <label>Name :
      <input formControlName="name"/>
    </label>
    <br />
    <label>Golds :
      <input type="number" formControlName="golds"/>
    </label>
    <br />
    <label> Job :
      <select formControlName="job">
        <option *ngFor="let job of jobs" [ngValue]="job">
          {{job.name}}
        </option>
      </select>
    </label>
    <br />
    <button type="submit">
      Add
    </button>
  </form>
</div>

<div id="workers">
  <h3>Workers owned</h3>
  <ul *ngFor="let worker of ownedWorkers">
      {{worker.name}} {{worker.job.name}}
  </ul>
  <h3>Workers to buy</h3>
  <ul *ngFor="let worker of notOwnedWorkers">
    {{worker.name}} {{worker.job.name}} {{worker.golds}} golds
    <button (click)="buyWorker(worker)" [disabled]="!enoughGold(worker)">
      Buy
    </button>
  </ul>
</div>