<div *ngIf="player.admin">
  <h3> Add a new Category of Recipes</h3>
  <form (ngSubmit)="addRecipeCategory(f)" #f="ngForm">
    <label>Name :
      <input name="name" ngModel/>
    </label>
    <button type="submit">
      Add
    </button>
  </form>
</div>


<div *ngIf="player.admin">
  <h3> Add a new Recipe</h3>
  <form (ngSubmit)="addRecipe(f)" #f="ngForm">
    <label>Name :
      <input name="name" ngModel/>
    </label>
    <br />
    <label>Golds :
      <input type="number" name="golds" ngModel="0"/>
    </label>
    <br />
    <label>Xp :
      <input type="number" name="xp" ngModel="0"/>
    </label>
    <br />
    <label>Level minimum :
      <input type="number" name="minLevel" ngModel="1"/>
    </label>
    <br />
    <label *ngFor="let material of materials">{{material.name}} :
      <input type="number" name="{{material.name}}" ngModel="0"/>
      <br />
    </label>
    <label> Category :
      <select name="category" ngModel>
        <option *ngFor="let category of categories" [ngValue]="category">
          {{category.name}}
        </option>
      </select>
    </label>
    <br />
    <button type="submit">
      Add
    </button>
  </form>
</div>
