<div *ngIf="player.admin">
  <h3> Add a new Category of Recipes</h3>
  <form (ngSubmit)="addRecipeCategory()" [formGroup]="categoryForm">
    <label>Name :
      <input formControlName="name"/>
    </label>
    <button type="submit">
      Add
    </button>
  </form>
</div>


<div *ngIf="player.admin">
  <h3> Add or update a Recipe</h3>
  <form (ngSubmit)="addRecipe()" [formGroup]="recipeForm">
    <label> Recipe :
      <select>
        <option *ngFor="let recipe of recipes" (click)="fillRecipeForm(recipe)">
          {{recipe.name}}
        </option>
      </select>
    </label>
    <br />
    <label>Name :
      <input formControlName="name"/>
    </label>
    <br />
    <label>Golds :
      <input type="number" formControlName="golds"/>
    </label>
    <br />
    <label>Xp :
      <input type="number" formControlName="xp"/>
    </label>
    <br />
    <label>Level minimum :
      <input type="number" formControlName="minLevel"/>
    </label>
    <br />
    <label> Materials : <br />
      <div formArrayName="materials" *ngFor="let material of materials; let i = index">
        <div  [formGroupName]="i">
          <label> {{material.name | titlecase}}
            <input type="number" formControlName="quantity">
          </label>
        </div>
      </div>
    </label>
    <label> Category :
      <select formControlName="category">
        <option *ngFor="let category of categories" [ngValue]="category">
          {{category.name}}
        </option>
      </select>
    </label>
    <br />
    <label> Job :
      <select formControlName="job">
        <option *ngFor="let job of jobs" [ngValue]="job">
          {{job.name | titlecase}}
        </option>
      </select>
    </label>
    <br />
    <button type="submit">
      Add
    </button>
  </form>
</div>


<div>
  <h3>Recipes</h3>
  <select>
    <option (click)="getAllRecipes()">
      All
    </option>
    <option *ngFor="let category of categories" (click)="getRecipesByCategory(category)">
      {{category.name}}
    </option>
  </select>
  <div *ngFor="let recipe of recipes" class="recipe" [hidden]="!canSeeRecipe(recipe)">
    {{recipe.name}} {{recipe.golds}} golds {{recipe.xp}} xp
    <button type="button" (click)="createRecipe(recipe)" [disabled]="!canCreate(recipe)">
      Create
    </button>
    <button type="button" (click)="deleteRecipe(recipe)" [hidden]="!player.admin">
      Delete
    </button>
    <p>
      <span *ngFor="let material of recipe.materials"> {{material.name}} {{material.quantity}}</span>
    </p>

  </div>
</div>
